<html>
<head>
	<link href="http://twitter.github.com/bootstrap/assets/css/bootstrap.css" rel="stylesheet"/>
</head>

<body>
    
<div class="container">
	<div class="page-header">
		<h1>${user.name}</h1>
	</div>
	
	<h2>Assigned Tweets:</h2>
	<table class="table table-bordered table-striped">
	<tr><th>id</th><th>time</th><th>author</th><th>body</th></tr>
	#{list user.tweets, as:'tweet'}
		<tr>
			<td>${tweet.id}</td>
			<td>${tweet.createdAt}</td>
			<td>${tweet.author}</td>
			<td>${tweet.body}</td>
		</tr>
	#{/list}
	</table>
</div>
</body>
</html>